<div class="container text-center">
    <hr />
  <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="/legal/tos">Terms of Service</a></li>
          <li><a href="/legal/privacy">Privacy Policy</a></li>
          <li><a href="/legal/dmca">DMCA</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="/join">Join Aclevo</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="https://dorp.ga">Dorper</a></li>
          <li><a href="https://lemon.aclevo.xyz">The Lemon Group</a></li>
          <li><a href="http://sagefun.com">The SFC Group</a></li>
        </ul>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
                <div>&copy; 2017 <a href="https://aclevo.xyz">Aclevo</a> | Website by <a href="https://dorp.ga">Carver Harrison</a></div>
        </div>
    </div>
</div>
